APP_PORT=9001
APP_URL=http://localhost:9001
APP_DEBUG=true
APP_LEVEL=info
APP_NAME=liteapi
API_KEY=
API_SECRET=
NUITEE_API_BASE_URL=https://api.test.hotelbeds.com/hotel-api/1.0
EXCHANGE_RATE_API=https://api.exchangerate-api.com/v4/latest/